/* .carousel-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.carousel-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hidden {
  display: none;
}


.main_div{
  height: 600px;
}

.testimonial-text-container {
  width: 60%; 
  height: auto; 
  min-height: 200px; 
  max-height: 60px; 
}


.heading {
  padding: 20px; 
}


.custom-paragraph {
  font-size: 1.35rem; 
}
.image_cls{
  width: 400px;
  height: 300px;
}*/
 
