<div class="content-container">
  <div class="left-div">
    <p>
      ABOUT US<br><br>
    <h1> Helping businesses succeed through the power of video.</h1>
    Video is the future of business in this digital-focused world.<br> Vidyard uses video to change the way companies connect and communicate.<br> We help organizations of all sizes humanize their communications and personalize their customer experiences.
    <p>
    <button class="read-more-button">Read More</button>
  </div>
  <div class="right-div">
    <img src="https://www.inheritcloud.com/assets/img-0cf43d5c.png" alt="Sample Image" />
  </div>
</div>
